# Gradle files
.gradle/
**/build/
!gradle-wrapper.jar
**/gradle-wrapper.properties
gradle.properties
gradlew
gradlew.bat

# Local configuration
/local.properties

# IntelliJ/Android Studio files
.idea/
*.iml

# Log files
*.log

# Cache files
.cxx/
.externalNativeBuild/
.cachestore/
captures/

# Dependency directories
/.m2/
/build/
**/node_modules/

# Android test reports
**/outputs/
**/reports/
**/test-results/

# Keystore files (important for signing APKs)
*.keystore
*.jks

# Kotlin/JetBrains specific
*.kotlin_metadata/
*.kts.backup/

# Miscellaneous
*.swp
*.swo
*.DS_Store

# Git specific
.git/
.gitignore
